<section class="orders light-section">
    <div class="container mx-auto pt-12">
        <h1 class="font-bold text-lg mb-4">All orders</h1>
        <table class="w-full table-auto bg-white">
            <thead>
                <tr>
                    <th class="px-4 py-2 text-left">Orders</th>
                    <th class="px-4 py-2 text-left">Customer</th>
                    <th class="px-4 py-2 text-left">Address</th>
                    <th class="px-4 py-2 text-left">status</th>
                    <th class="px-4 py-2 text-left">Placed at</th>
                    <th class="px-4 py-2 text-left">Payment Status</th>
                </tr>
            </thead>
            <tbody id="orderTableBody">
                <!-- looping yahi hogi -->
                <% orders.forEach( function(order)
                { %>
                    <tr>
                        <td class="border px-4 py-2 text-green-900">
                            <p><%=order._id%></p>
                            <% for(let items of Object.values(order.items)){ %>
                             <div><%=items.item.name%> :<%= items.qty %>Pcs</div>
                             
                             <%}%>

                        </td>
                        <td class="border px-4 py-2"><%=order.customer_id.name%></td>
                        <td class="border px-4 py-2"><%=order.address%></td>
                        <td class="border px-4 py-2">
                            <div class="inline-block relative w-64">
                                <form action="/admin/order/status" method="POST">
                                    <input type="hidden" name="orderId" value="${ order._id }">
                                    <select name="status" onchange="this.form.submit()"
                                        class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
                                        <option value="order_placed"
                                           <%= order.status == 'order_placed' ? 'selected' : '' %>>
                                            Placed</option>
                                        <option  <%= order.status == 'confirmed' ? 'selected' : '' %> >
                                             Confirmed</option>
                                        <option  <%= order.status == 'prepared' ? 'selected' : '' %>>
                                            Prepared</option>
                                        <option  <%= order.status == 'delivered' ? 'selected' : '' %>>
                                            Delivered
                                        </option>
                                        <option  <%= order.status == 'completed' ? 'selected' : '' %>>
                                            Completed
                                        </option>
                                    </select>
                                </form>
                                <div
                                    class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 20 20">
                                        <path
                                            d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                                    </svg>
                                </div>
                            </div>
                        </td>
                        <td class="border px-4 py-2">
                            <%=moment(order.createdAt).toString()%>  
                        </td>
                        <td class="border px-4 py-2">
                          <%= order.mode=='cod' ? 'Not Paid' : 'paid' %>
                        </td>
                       
                    </tr>

              <%  })  %>
                  




            </tbody>
        </table>
    </div>
</section>