<section class="hero py-16  my-4">

    <div class="container mx-auto flex items-center justify-between  section" >
        <div class="w-1/2">
            <h6 class="text-lg m-4 font-bold"><em>Are you Hungry?</em></h6>
            <h1 class="text-3xl md:text-6xl font-bold m-4">Don't Wait!</h1>
            <button class=" px-6 py-2 ml-4 rounded-full text-white font-bold btn-primary"><a href="#pizzas">Order Now</a></button>
        </div>
        <div class="w-1/2 ">
            <img class=" " src="/Img/hero-pizza.png" alt="hero pizza"> -->
         </div> 
    </div>
</section>


<section class="menu container mx-auto py-8 text-xl mb-12">

    <h1 class="font-bold mb-10 text-xl all ml-8">All Pizzas</h1>
    <div class="grid grid-cols-1 md:grid-cols-2  lg:grid-cols-3 xl:grid-cols-4 gap-16 ">

        <% pizza.forEach(function(pizza)
        { %>

            <div class="w-full md:w-64  packet" id="pizzas">
                <img src="/Img/<%=pizza.image%>" alt="pizza cart" class="h-40 mb-4 mx-auto">
                <div class="text-center">
                    <h2 class="mb-4 text-lg"><%=pizza.name%></h2>
                    <span class=" small py-1 px-4 rounded-full uppercase text-xs  font-bold"><%=pizza.size%></span>
                    <div class="flex items-center justify-around mt-4">
                        <span class="font-bold text-lg">₹<%=pizza.price%></span>
                        
                            <button   class=" cart py-1 px-6 rounded-full flex items-center font-bold">
                                <span class="clicker" data-pizza="<%=JSON.stringify(pizza)%>"  >+</span>
                               
                                <span id="" class="mx-4 changer" >Add</span>
                          
                            
                                <span class="clicker " data-pizza="<%=JSON.stringify(pizza)%>">-</span> 
                                <!-- <span class="decrease" data-pizza="<%=JSON.stringify(pizza)%>" class="ml-4">-</span> -->
                            </button>

                            
                    </div>  
                </div>
            </div>

      <%  }) %>
        
        
      

       
    </div>

</section>